rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth != null
        && request.auth.uid == userId;
    }

    function hasValidFavoritesDocument() {
      return request.resource.data.keys().hasAll(['favorites'])
        && request.resource.data.keys().hasOnly(['favorites'])
        && request.resource.data.favorites is map;
    }

    match /users/{userId} {
      allow get: if isOwner(userId);

      allow create, update: if isOwner(userId)
        && hasValidFavoritesDocument();

      allow list, delete: if false;
    }
  }
}